{
  "semi": true,
  "overrides": [
    {
      "files": ["*.html", "*.js", "*.ts", "*.jsx", "*.tsx", "*.cjs"],
      "options": {
        "singleQuote": false,
        "printWidth": 1000,
        "tabWidth": 4,
        "trailingComma": "none",
        "bracketSpacing": true,
        "semi": true,
        "useTabs": false,
        "jsxBracketSameLine": false,
        "endOfLine": "crlf"
      }
    }
  ]
}
